<h1> Score that Word </h1>

<form action="" method="post" accept-charset="utf-8">
  <label for="word">Word</label>
  <input type="text" name="word" value="" id="word">
  <input type="submit" value="Submit">
</form>

<pre>
 <%= params %>
</pre>

<h1>The word '<%= @word %>' has a score of <%= @score %>.</h1>

<%= @letters %>
<%= @scores %>

<h1> <% @letters.each do |letter| %> <%= letter %> <% end %> </h1>
